@charset "utf-8";
$w:100%;
$h:100%;
@mixin disp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap{
    width: $w;
    height: $h;
}
.list{
    width: 100%;
    @include disp;
    ul{
        width: 100%;
        height:10rem;
        @include disp;
        flex-wrap: wrap;
        li{
            width: 25%;
            margin-top: 1rem;
            text-align: center;
            img{
                width: 2.3rem;
                height: 2.3rem;
            }
        }
    }
}
.list>ul>li:nth-child(5){
    position: relative;
    span{
        position: absolute;
        left: 50px;
        top: 0;
        background: orange;
        color: #fff;
    }
}
.list>ul>li:nth-child(6){
    position: relative;
    span{
        position: absolute;
        left: 50px;
        top: 0;
        background: orange;
        color: #fff;
    }
}
.hui{
    width: 100%;
    height: 0.4rem;
    background: #F5F5F5;
}
.list_left1{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #ccc;
    @include disp;
    div{
        width: calc(100%/3);
    height: 5rem;
        border-right: 1px solid #ccc;
        text-align: center;
        img{
            width:3.5rem;
            height:2rem;
            margin-top: 0.8rem;
        }
        p{
            line-height: 14px;
            font-size: 14px;
            margin-top: 0.8rem;
        }
        
    }
    >div:nth-child(1){
        p{
            color: #FC4F43;
        }
    }
    >div:nth-child(2){
        p{
            color: #00C052;
        }
    }
    >div:nth-child(3){
        border: none;
        p{
            color: #00BFE0;
        }
    }
}
.left_right1{
    width: 100%;
    height: 5rem;
    @include disp;
    border-bottom:1px solid #ccc;
    div{
        width: 50%;
        img{
            width: 100%;
        }
    }
    >div:nth-child(1){
        border-right: 1px solid #ccc;
    }
}
.nav_left1{
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #ccc;
    @include disp;
    div{
        height: 6rem;
        border-right: 1px solid #ccc;
        text-align: center;
        img{
            width: 80%;
            height: 4rem;
        }
    }
    >div:nth-child(3){
        border: none;
    }
}
.da_list{
    width: 100%;
    height: 9.9rem;
    @include disp;
    >div:nth-child(1){
        width: 11rem;
        height: 9.9rem;
        background: url(../img/index_qnav_ds.png) no-repeat 10px 0;
        background-size: 11rem 9.9rem;
       p{
           margin-top:1rem;
       }
       >p:nth-child(1){
           color: #2ED0AD;
       }
       >p:nth-child(2){
           color: #999;
       }
    }
    >div:nth-child(2){
        width: 9.25rem;
        height: 9.9rem;
        
    }
}
.rigt{
    width: 100%;
    height: 3rem;
    margin-top: 0.4rem;
    @include disp;
    >div:nth-child(1){
        width: 30%;
        img{
            width: 100%;
        }
    }
    >div:nth-child(2){
        width: 70%;
        >p:nth-child(1){
            color: #000;
            font-weight: bold;
        }
        >p:nth-child(2){
            color: #999;
        }
    }
}
.shop{
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #CCC;
    @include disp;
    >div:nth-child(1){
        width: 90%;
       height: 2rem;
        line-height: 2rem;
        font-size: 0.8rem;
        border-left: 2px solid orange;
        color: orange;
    }
    >div:nth-child(2){
        width: 10%;
         height: 2rem;
        line-height: 2rem;
        font-size: 0.8rem;
    }
}
.lie{
    width: 100%;
    margin-bottom: 2.8rem;
    @include disp;
    flex-wrap: wrap;
}
.foo_list{
    width: $w;
    height: 6rem;
    border-bottom: 1px solid #ccc;
    @include disp;
    >div:nth-child(1){
        width: 20%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 30%;
        img{
            width: 4.2rem;
            height: 3.3rem;
        }
    }
    >div:nth-child(2){
        width: 80%;
        line-height: 1rem;
        
         >p:nth-child(2){
            color: #999;
        }
        >p:nth-child(3){
            color: #999;
            >span:nth-child(1){
                color: brown;
            }
            >span:nth-child(2){
              float: right;
            }
        }
    }
}
.footer{
    width: $w;
    height: 2.8rem;
    border-top:1px solid #ccc;
    position: fixed;
    bottom: 0;
    background: #fff;
    ul{
        width: $w;
        height: 100%;
        @include disp;
        li{
           width: 20%;
           height: 100%;
           text-align: center; 
           margin-top: 0.45rem;
           margin-bottom: 0.45rem;
        }
        .on{
            a{
                color: #FF3451;
            }
        }
    }
}
.icon_lo{
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 6.05rem;
    img{
        
    }
}
