@charset "utf-8";
$w:100%;
$h:100%;
*{margin: 0;padding: 0;}
html,body{
    width: 100%;
   height: 100%; 
background: #f5f5f5;
}
@mixin disp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
header{
    width: 100%;
    height: 2.25rem;
    background: #fff;
    @include disp;
    font-size:1.2rem;
    text-align: center;
    >div:nth-child(1),>div:nth-child(3){
        width: 10%;
    }
    >div:nth-child(2){
        width: 80%;
    }
}
.list_list1{
    width: 100%;
    height: 2.25rem;
    font-size: 0.9rem;
    margin-top: 0.7rem;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    @include disp;
    >div:nth-child(1){
        width:20%;
        line-height: 2.25rem;
        text-align: center;
        border-right: 1px solid #f5f5f5;

    }
     >div:nth-child(2){
        width:80%;
        height: 100%;
        input{
            width: 100%;
            height: 100%;
        }
    }
}
.list_list2{
    width: 100%;
    height: 2.25rem;
    margin-top: 0.7rem;
    font-size: 0.9rem;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    @include disp;
    >div:nth-child(1){
        width:25%;
    line-height: 2.25rem;
        text-align: center;
        border-right: 1px solid #f5f5f5;

    }
     >div:nth-child(2){
        width:75%;
        height: 100%;
        input{
            width: 100%;
            height: 100%;
        }
    }
}
.list_list3{
    width: 100%;
    height: 2.25rem;
    margin-top: 0.7rem; 
    background: #fff;
    font-size: 0.9rem;
    border-bottom: 1px solid #eaeaea;
    @include disp;
    >div:nth-child(1){
        width:25%;
        line-height: 2.25rem;
        text-align: center;
        border-right: 1px solid #f5f5f5;

    }
     >div:nth-child(2){
        width:50%;
        height: 100%;
        input{
            width: 100%;
            height: 100%;
        }
    }
    >div:nth-child(3){
        width: 25%;
        height: 100%;
       button{
           width: 100%;
           height: 100%;
           border: none;
           background: #13AEEE;
           color: #fff;
       }
    }
}
.btn{
  width: 100%;
  height: 2.25rem;  
  margin-top: 1.5rem;
  text-align: center;
  button{
      width: 95%;
      height: 100%;
      border-radius: 5px;
      margin:0 auto;
      border: none;
      font-size: 1.2rem;
      color: #fff;
      background: #ff3451;
  }
}
.msg{
    width:100%;
    font-size: 0.7rem;
    margin:0.9rem 0.4rem 1.6rem 0.4rem;
    @include disp;
    div{
        
    }
}
.ema{
    width: 100%;
    text-align: center;
     font-size: 0.9rem;
}
.msg{
  >div:nth-child(1){
      color: #999;
  }
  >div:nth-child(2){
      >a:nth-child(2){
          color: #999;
      }
  }  
}
.footer{
    width: $w;
    height: 2.8rem;
    border-top:1px solid #ccc;
    position: fixed;
    bottom: 0;
    background: #fff;
    ul{
        width: $w;
        height: 100%;
        @include disp;
        li{
           width: 20%;
           height: 100%;
           text-align: center; 
           margin-top: 0.45rem;
           margin-bottom: 0.45rem;
        }
    }
}
.icon_lo{
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 6.05rem;
    img{
        
    }
}
